.category-table{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
.subcat-form-container{
    margin: 30px;
}
.list1{
  margin: 30px;

}
.category-table p {

    margin: 10px;
}
.cat-edit-form{
    display: grid;
    grid-template-rows: 1fr 1fr ;
    align-items: center;
    border:1px solid #0b486a;
    box-shadow:  10px 15px #0b486a ;
    border-radius: 30px;
    margin: 10px auto;
    width: 500px;
    height:150px;
    color:#0b486a;
    font-size: larger;
    justify-content: center;
   
  }
  .list-category{
    border:1px solid #0b486a;
    box-shadow:  10px 15px #0b486a ;
    border-radius: 30px;
    margin: 10px ;
    width: 500px;
    
    color:#0b486a;
    font-size: larger;
  }
  .subcat-edit-input{
    width: 320px;
    height: 40px;
    font-size: 16px;
    padding: 0 5px;
    border: transparent;
    border-bottom: 1px solid #8f8e8e ;
    outline: none;
    background: transparent;
    color: black;
    cursor:text;
  }
  .subcat-edit-button{
    height: 50px;
    background-color:#ff7d00;
    color:#0b486a;
    border: transparent;
  }
 .list2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 }
 .list3{
  display: flex;
  flex-direction: column;
 }
 .list3 a{
  margin: 8px;
 }
 .cat-edit-form2{
  display: grid;
  grid-template-rows: 1fr 1fr ;
  align-items: center;
  border:1px solid #0b486a;
  box-shadow:  10px 15px #0b486a ;
  border-radius: 30px;
  margin: 10px auto;
  width: 500px;
  height:250px;
  color:#0b486a;
  font-size: larger;
  justify-content: center;
 
}